@import 'toggler';

@font-face {
  font-family: "CrimsonText";
  src: url("../fonts/CrimsonText-Regular.ttf");
}
@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/CrimsonText-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/CrimsonText-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "FrutigerLTStd";
    src: url("../fonts/FrutigerLTStd-Roman.otf");
}
@font-face {
    font-family: "FrutigerLTStd";
    src: url("../fonts/FrutigerLTStd-Bold.otf");
    font-weight: bold;
}

$pc-media: 1060px;
$pcs-media: 1059px;
$pad-media: 768px;
$pads-media: 767px;
$phone-media: 480px;
$phones-media: 479px;

$smooth:.62,.02,.34,1;
* {
  box-sizing: border-box;
  user-select: none;
  touch-action: manipulation;
  /*
  -webkit-tap-highlight-color:transparent;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  perspective: 1000;
  */
  opacity: 1;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  20%), $hover-foreground-color: mix($foreground-color, black,  80%), $active-foreground-color: mix($foreground-color, black,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
    transition: 200ms all ease;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;

    &:hover{
      background: $hover-foreground-color; 
    }
    &:active{
      background: $active-foreground-color; 
    }
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;

    &:hover{
      scrollbar-face-color: $hover-foreground-color; 
    }
    &:active{
      scrollbar-track-color: $active-foreground-color; 
    }

  }
}

@mixin screen-large() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
@mixin screen-medium() {
  @media all and (min-width: $pad-media) {
    @content;
  }
}
@mixin screen-small() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}


@mixin responsive(
  $property,
  $large,
  $medium: null,
  $small: null) {
  @if ($large) {
    @include screen-large {#{$property}:$large;}
  }
  @if ($medium) {
    @include screen-medium {#{$property}:$medium;}
  }
  @if ($small) {
    @include screen-small {#{$property}:$small;}
  }

}

.scrollable {
  /*@include scrollbars(.5em, slategray);*/
  overflow: overlay;
}

.scrollable.modern-scrollbar{
  $bg-color: white;
  $thumb-color: #ddd;

  & {
    background-color: $bg-color !important; 
  }

  &::-webkit-scrollbar { 
    height: 16px; 
    width: 16px; 
    background: transparent; 
    border-radius: 50%;
  } 
  
  &::-webkit-scrollbar-thumb { 
    background: $thumb-color; 
    border: 6px solid $bg-color;
    border-radius: 20px;
  }
}

.show-children-slowly {
	> * {
		opacity: 0;
	}
	&.active {
		> * {
			opacity: 1;
		}
		> * {
			@for $i from 1 through 10 {
			    &:nth-child(#{$i}) {
			        $td: ($i*.1+.3s);
			        $ts: ($i*.08+.4s);
			        transition: $ts cubic-bezier($smooth) $td;
			    }
			}
		}
	}
}


:root {
  touch-action: none;
  height: 100% ;
}
html{
  background: #547a41;
}
body, html {
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
  touch-action: none;
  overflow: hidden;
  font-family: 'CrimsonText', 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  height:100vh;
  width:100vw;
  height: calc(var(--vh, 1vh) * 100);
  box-shadow: 0 0 35px #0009;
}

p {
  white-space: pre;
  margin: 0;
}
.thin-body{
  p {
    margin-bottom: 0.7em;

  }
}

block {
  flex-direction: column;
}

#assets {
  display: none;
}

.clippath {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}
[flex-vert-center]{display:flex;align-items: center;}
[flex-1]{flex:1;display:flex;}
[flex-2]{flex:2;display:flex;}
[flex-3]{flex:3;display:flex;}
[flex-4]{flex:4;display:flex;}
[flex-5]{flex:5;display:flex;}
[flex-6]{flex:6;display:flex;}
[flex-column]{flex-direction: column;}
[width-100p]{width:100%;}
[left-align]{text-align:left;margin-right: auto;}
[right-align]{text-align:right;}
[middle-align]{text-align:center;}
[left-margin-small]{margin-left:1.5em;}
[margin-auto]{margin:auto;}
[bold]{font-weight: bold;}
[italic]{font-style: italic;}



[font-large] {
  font-size: 3em;
}

[lang="zh"] [font-large] {
  font-size: 2.5em;
}

@media screen and (max-width: 360px) {
  [font-large] {
     font-size: 11vw;
  }
  [lang="zh"] [font-large] {
    font-size: 11vw;
    font-weight: bold;
  }
  
}

#desktop{
  position: absolute;
  left: 0;
  z-index: 99999;
  background:white;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  
  display: none;
  @include screen-medium {
    //display: flex;
  }


}

#desktop > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: auto;
  flex-direction: column;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  z-index: 1;
  > * {
    /*
    flex: 1;
    text-align: center;*/
    align-items: center;
    display: flex;
    width:100%;
  }
}
.display-none{
  display:none;

}

.hidden{
  opacity: 0;
  pointer-events: none;

}
.thin-body{
  max-width: 85%;
  height:100%;
  z-index: 1;
  text-align: center;
  transition: all 0.4s ease;
  p{
    font-size: 1.5em;
    opacity:0;
    white-space: pre-wrap;
    transition: all 0.4s ease;
    // font-weight: 900;
  }

  @media screen and (max-width: 360px) {
    p{
      font-size: 6vw;
    }
    
  }
}
[lang="en"] .thin-body p {
  font-style: italic;
}

#app {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  height:  calc(var(--vh, 1vh) * 100);
}

#mobile{
  vertical-align: middle;
  align-items: center;
  background:#fdd;
  height: 100%;
  width: 100%;

}

#stages{

  vertical-align: middle;
  align-items: center;
  background:#fdd;
  height: 100%;
  width: 100%;


}

#loading-wrapper {
  position:absolute;
  background:white;
  z-index:999;

  > div {
    margin:auto;

    > span {
      width: 50px; 
    }


  }

}

#float-top-right {
  position:absolute;
  top: 0;
  right: 0;
  transition: .45s cubic-bezier($smooth) .3s;
  z-index:999;


}




/*

  Stages

*/

background {
  width: 100%;
  height: 100%;
  position: absolute;
  // pointer-events: none;
  z-index: 0;
}
bg {
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;

  img {
    transition: transform 2.5s cubic-bezier(0.5, 0, 0.5, 1);
    transform: translateX(0);

  }

}

#intro {

  #intro-start{
    margin: auto;
    flex: 2;
  }
}

#intro-tran {

  #intro-tran-text{
    p{
      opacity: 0;
    }

    
  }
}

#debug{
  display:block;
  position:absolute;
  z-index:999999999;
  background: #5554;
  

}


#lang-switcher > span {
  padding:0.5em;

}

*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
  
}   


.cards {
  text-align: left;
}

.selection{
  background:rgb(0, 129, 11);
}

arrows {
  height: 40px;
  position: absolute;
  filter: drop-shadow(2px 4px 6px #333);
  opacity: 0;
  display: flex;
  padding: 30px;
  padding-top: 1em;
  bottom: -10px;
  right: 0;
  box-sizing: content-box;
  transition: all 1s ease;
  transform: translateX(-7px);
  z-index:999;
  width: fit-content !important;
}
arrows > * {
  position: relative !important;
  opacity: 1 !important;
  margin-right: -3px;
  transform: rotateZ(180deg) !important;
}


card {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100px;
  width: 100px;
  min-width: fit-content;
  align-items: center;
  transition: opacity 0.8s ease;
  z-index:3
}
card-text {
    position: relative;
    font-size: 1.2em;
    display: flex;
    z-index: 2;
    min-width: 100%;
    width: fit-content;
    align-items: center;
    color:white;
    
}
card p {
    text-align: center;
    width: 100%;
    white-space: pre-wrap;
    min-width: 8em;
    margin-left: 50%;
    transform: translateX(-50%);
}