@import 'toggler';

@font-face {
  font-family: "CrimsonText";
  src: url("../fonts/CrimsonText-Regular.ttf");
}
@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/CrimsonText-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/CrimsonText-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "FrutigerLTStd";
    src: url("../fonts/FrutigerLTStd-Roman.otf");
}
@font-face {
    font-family: "FrutigerLTStd";
    src: url("../fonts/FrutigerLTStd-Bold.otf");
    font-weight: bold;
}

$pc-media: 1060px;
$pcs-media: 1059px;
$pad-media: 768px;
$pads-media: 767px;
$phone-media: 480px;
$phones-media: 479px;

$smooth:.62,.02,.34,1;
* {
  box-sizing: border-box;
  user-select: none;
  touch-action: manipulation;
  
  /*
  -webkit-tap-highlight-color:transparent;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  perspective: 1000;
  */
  opacity: 1;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  20%), $hover-foreground-color: mix($foreground-color, black,  80%), $active-foreground-color: mix($foreground-color, black,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
    transition: 200ms all ease;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;

    &:hover{
      background: $hover-foreground-color; 
    }
    &:active{
      background: $active-foreground-color; 
    }
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;

    &:hover{
      scrollbar-face-color: $hover-foreground-color; 
    }
    &:active{
      scrollbar-track-color: $active-foreground-color; 
    }

  }
}

@mixin screen-large() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
@mixin screen-medium() {
  @media all and (min-width: $pad-media) {
    @content;
  }
}
@mixin screen-small() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}


@mixin responsive(
  $property,
  $large,
  $medium: null,
  $small: null) {
  @if ($large) {
    @include screen-large {#{$property}:$large;}
  }
  @if ($medium) {
    @include screen-medium {#{$property}:$medium;}
  }
  @if ($small) {
    @include screen-small {#{$property}:$small;}
  }

}

.scrollable {
  /*@include scrollbars(.5em, slategray);*/
  overflow: overlay;
}

.scrollable.modern-scrollbar{
  $bg-color: white;
  $thumb-color: #ddd;

  & {
    background-color: $bg-color !important; 
  }

  &::-webkit-scrollbar { 
    height: 16px; 
    width: 16px; 
    background: transparent; 
    border-radius: 50%;
  } 
  
  &::-webkit-scrollbar-thumb { 
    background: $thumb-color; 
    border: 6px solid $bg-color;
    border-radius: 20px;
  }
}

.show-children-slowly {
	> * {
		opacity: 0;
	}
	&.active {
		> * {
			opacity: 1;
		}
		> * {
			@for $i from 1 through 10 {
			    &:nth-child(#{$i}) {
			        $td: ($i*.1+.3s);
			        $ts: ($i*.08+.4s);
			        transition: $ts cubic-bezier($smooth) $td;
			    }
			}
		}
	}
}


:root {
  touch-action: none;
  height: 100% ;
}
html{
  background: #feddd3;
  transition: all 1s ease;
}

landscape-hint {
  display:none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  height: 100%;
  width: 100%;
  padding: 35vh 20vw;
  background: white;
  svg {
    height: 100%;
    margin: auto;
    display: flex;
  }
}

[is-landscape] landscape-hint {
  display:flex;
}
*{
  
  text-size-adjust: none !important;
}
body, html {
  text-size-adjust: none !important;
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
  touch-action: none;
  height:100vh;
  width:100vw;
  width: calc(var(--vw, 1vw) * 100) !important;
  height: calc(var(--vh, 1vh) * 100) !important;
  margin:0 !important;
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #43485c;
  border-radius: 5px;
}


#body {
  font-family: 'CrimsonText', 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  height:100vh;
  width:100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  box-shadow: 0 0 35px #0009;
  font-size: calc(5 * var(--window-width-for-font, 100vw) / 100);

}

p {
  white-space: pre;
  margin: 0;
}
.thin-body{
  p {
    margin-bottom: 0.7em;

  }
}

block {
  flex-direction: column;
}

#assets {
  display: none;
}

.clippath {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}
[flex-vert-center]{display:flex;align-items: center;}
[flex-1]{flex:1;display:flex;}
[flex-2]{flex:2;display:flex;}
[flex-3]{flex:3;display:flex;}
[flex-4]{flex:4;display:flex;}
[flex-5]{flex:5;display:flex;}
[flex-6]{flex:6;display:flex;}
[flex-column]{flex-direction: column;}
[width-100p]{width:100%;}
[left-align]{text-align:left;margin-right: auto;}
[right-align]{text-align:right;}
[middle-align]{text-align:center;}
[left-margin-small]{margin-left:calc(var(--window-width, 100vw) * 5 / 100);}
[margin-auto]{margin:auto;}
[bold]{font-weight: bold;}
[italic]{font-style: italic;}
[fix-c] {
  letter-spacing: 0.3px;
}
[card-bg]{
  position:absolute;
  height:100px;
  width:100px; 
  transform-origin: center center;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) scale(3);
  pointer-events: none;
  z-index: -1;
}
[slow-transition] {
  transition: transform 2.5s cubic-bezier(0.5, 0, 0.5, 1);
  transform: translateX(0);

}

[soft-shadow]{
  // filter: drop-shadow( 3px 3px 20px rgba(0, 0, 0, .7));
}


[font-large] {
  font-size: 2em;
  line-height: 1.1;
}

[lang="zh"] [font-large] {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  margin-top: 0.4em;
}

#desktop{
  position: absolute;
  left: 0;
  z-index: 99999;
  background:white;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  
  display: none;
  @include screen-medium {
    //display: flex;
  }


}

#desktop > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: auto;
  flex-direction: column;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  z-index: 10;
  > * {
    /*
    flex: 1;
    text-align: center;*/
    align-items: center;
    display: flex;
    width:100%;
  }
}
.display-none{
  display:none;

}

.hidden{
  opacity: 0;
  pointer-events: none;

}
.thin-body{
  max-width: 85%;
  height:100%;
  z-index: 1;
  text-align: center;
  transition: all 0.4s ease;
  p{
    font-size: 1em;
    opacity:0;
    white-space: pre-wrap;
    // transition: all 0.4s ease;
    // font-weight: 900;
  }

  @media screen and (max-width: 360px) {
    p{
      font-size: 6vw;
    }
    
  }
}
[lang="en"] .thin-body p {
  font-style: italic;
}

#app {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  height:  calc(var(--vh, 1vh) * 100);
}

#mobile{
  vertical-align: middle;
  align-items: center;
  height: 100%;
  width: 100%;

}

#stages{

  vertical-align: middle;
  align-items: center;
  height: 100%;
  width: 100%;


}

#loading-wrapper {
  position:absolute;
  background:white;
  z-index:999;

  > div {
    margin:auto;

    > span {
      width: 50px; 
    }


  }

}

#float-top-right {
  position:absolute;
  top: 0;
  right: 0;
  transition: .45s cubic-bezier($smooth) .3s;
  z-index:999;
}

[float-higher] #float-top-right{
  transform:translateY(-0.3em);
}




/*

  Stages

*/

background {
  width: 100%;
  height: 100%;
  position: absolute;
  // pointer-events: none;
}
img-container {
}
bg {
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left:0;
  top:0;


}
#intro {

  #intro-start{
    margin: auto;
    flex: 2;
  }
}

#intro-tran {

  #intro-tran-text{
    p{
      opacity: 0;
    }

    
  }
}

#debug{
  display:block;
  position:absolute;
  z-index:999999999;
  background: #5554;
  

}


#lang-switcher > span {
  padding:0.5em;

}

*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
  
}   


.cards {
  text-align: left;
}

.selection{
  
}

arrows {
  height: 40px;
  position: absolute;
  // filter: drop-shadow(2px 4px 6px #333);
  opacity: 0;
  display: flex;
  padding: 30px;
  padding-top: 1em;
  bottom: -10px;
  right: 0;
  box-sizing: content-box;
  transition: all 1s ease;
  transform: translateX(-7px);
  z-index:999;
  width: fit-content !important;
}
arrows > * {
  position: relative !important;
  opacity: 1 !important;
  margin-right: -3px;
  transform: rotateZ(180deg) !important;
  transform-origin: center center !important;
}
card {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100px;
  width: 100px;
  min-width: fit-content;
  align-items: center;
  // transition: opacity 0.8s ease, filter 0.3s ease-out, background 0.5s ease-out;
  transition: background 0.5s ease-out;
  z-index:3;
  border-radius: 2em;
  &:not(.active){
    display:none;
  }
}
card-text {
    position: relative;
    font-size: 1em;
    display: flex;
    z-index: 2;
    min-width: 100%;
    width: fit-content;
    align-items: center;
    color:white;
    p {
      // transition: opacity 0.8s ease, text-shadow 0.3s ease-out;
      // text-shadow: 1px 1px #0005;

    }
}
.chosen {
  // text-shadow: 1px 1px 6px rgba(255, 190, 51, 0.5), 1px 1px 6px rgba(255, 190, 51, 0.5), 1px 1px 6px rgba(255, 190, 51, 0.5);
  
  background: #fff3;
  
}

card.card-sort {
  display: inline-flex;
  position: relative;
  height:fit-content;
  width: calc(50% + 3em);
  min-width:calc(50%) ;
  margin:0.3em;
  float:left;

  &:nth-child(odd) {
    margin-right: -7em;
  }
  &:nth-child(even) {
    margin-top: 4em;
    margin-bottom: 2em;
  }
  p{
    min-width: 100% !important;
  }
}

card p {
    text-align: center;
    width: 100%;
    white-space: pre-wrap;
    min-width: 8em;
    margin-left: 50%;
    transform: translateX(-50%);
}

#sort-container {
  transition: all 0.4s ease;
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 12;
  opacity: 0;
  padding: calc(20 * var(--window-width-for-font, 100vw) / 100) calc(0 * var(--window-width-for-font, 100vw) / 100);
  padding-bottom:0;
  flex-direction: column;
  transition:all 0.4s ease;
  cards{
    position: relative;
    display: inline;
    overflow: overlay;
    margin: 0em;
    height: calc(100% - 0.3em * 2 - 2em);
    width: calc(100% - 0.3em * 2);
    padding-top: 1em;

    card{
      padding: 1em;
      background: #ffffff2e;
      border-radius: 1em;
      // box-shadow: 0 0 1px #5555;
      transition: all 0.4s ease;
      p {
        color: black !important;
        filter: none !important;
      }

      &.chosen{
        background: #fffb;
        p{

        }

      }
    }

  }
}
#result{
  transition: opacity 1.5s ease, transform 1.0s cubic-bezier(0.2, 0.9, 0.25, 1);
  &.switch{
    result-container{
      transform:translateX(-100%);
    }
    learn-more-container{
      transform:translateX(0);
      learn-more-inner{
        transform:translateX(0);
      }
    }
  }
}

result-container {
  opacity:0;
  width: 100%;
  height: 100%;
  padding-top: 2em;
  display: inline-block !important;
  transition: opacity 1.5s ease, transform 1.0s cubic-bezier(0.2, 0.9, 0.25, 1);

  &.active {
    transform: translateY(calc(-0.93 * var(--window-width, 100vw)));
    dounut-container{
      transform: translateY(-5em);
    }
    learn-more {
      transform: translateY(-2.4em) translateX(-3.2em);
    }
    result-description {
      overflow: overlay;
    }
  }
  dounut-container{
    margin:auto;
    width:95%;
    height:fit-content;
    position:relative;
    display: flex;
    transition: opacity 1.5s ease, transform 1.0s cubic-bezier(0.2, 0.9, 0.25, 1);
    svg {
      &:first-child{
        height:100%;
      }
      width:100%;
      display:inline-block;
      position: absolute;
      left:0;
      top:0;
      pointer-events: none;
      circle {
        // transition: all 1.2s cubic-bezier(0.57, 0.13, 0.18, 0.98) 0s;
      }
    }
    img {
      width: 80%;
      height: 80%;
      position: absolute;
      left: 10%;
      top: 10%;
    }
  }
  result-description {
    height:100vh;
    transition: opacity 1.5s ease, transform 1.0s cubic-bezier(0.2, 0.9, 0.25, 1);
    transform: translateY(8em);
    opacity: 0;
    display: block;
    height: calc(var(--window-height, 100vh) * 93 / 100);

    &.active{
      transform: translateY(0em);
      opacity: 1;

    }
    result-description-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top-left-radius: 1.5em;
      border-top-right-radius: 1.5em;
      overflow: hidden;
      height: 5000px;

      row{
        position:relative;
        display: table;
        width: 100%;
        min-height: 50px;

        left{
          height:100%;
          min-height: 100%;
          width: 30%;
          display: table-cell;
          padding: 0;
          margin: 0;
          h1 {
            margin-top:.7em;
            font-size: 1.5em;
          }


        }

        right{
          display: table-cell;
          padding: 1em 1em;
          padding-top:0;
          width: 70%;
          height:100%;
          padding-bottom: 1.3em;


          h3 {
            margin-top:.7em;
            margin-bottom: 0.3em;
          }

          p{
            text-align: left;
            white-space: pre-wrap;
          }


        }
      }



    }
  }


  learn-more {
    position: absolute;
    display: inline-block !important;
    opacity: 0;
    z-index: 9;
    margin: 0.3em;
    width: auto !important;
    background: #fff5;
    padding: 0.1em 0.4em;
    border-radius: 0.5em;
    right: 0;
    transform: translateY(-2.2em);
    font-size: smaller;
    transition: opacity 1.5s ease, transform 1.0s cubic-bezier(0.2, 0.9, 0.25, 1);
    &.active{
      opacity: 1;
  
    }
  }
}
learn-more-container {
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  transition: opacity 1.5s ease, transform 1.0s cubic-bezier(0.2, 0.9, 0.25, 1);
  transform:translateX(100%);

  learn-more-inner{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    transition: opacity 1.5s ease, transform 1.0s cubic-bezier(0.2, 0.9, 0.25, 1);
    transform:translateX(33%);

    learn-more {
      position: absolute;
      display: inline-block !important;
      z-index: 9;
      left: 0;
      top:0;
      margin: 0.3em;
      width: auto !important;
      background: #fff5;
      padding: 0.1em 0.4em;
      border-radius: 0.5em;
      font-size: smaller;
      transition: opacity 1.5s ease, transform 1.0s cubic-bezier(0.2, 0.9, 0.25, 1);
    }

  }
}