.gp-header {
  font-family: georgia;
  font-size: 40px;
  color: #5fd698;
  font-style: italic;
  text-align: center;
  margin-top: 25px;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

.switchContainer {
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.switchBtn {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0px;
}

.switchBtn {
  background: #ffffff;
  -webkit-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  transition: 300ms all ease;
}

.switchContainer.switchOn .switchBtn {
  background: #5fd698;
}

.switchContainer.switchOn .switchBtn,
.switchContainer.switchOn + .music-score {
  -webkit-animation: switchOn 250ms linear forwards;
     -moz-animation: switchOn 250ms linear forwards;
       -o-animation: switchOn 250ms linear forwards;
          animation: switchOn 250ms linear forwards;
}

.switchContainer.switchOff .switchBtn,
.switchContainer.switchOff + .music-score {
  -webkit-animation: switchOff 250ms linear forwards;
     -moz-animation: switchOff 250ms linear forwards;
       -o-animation: switchOff 250ms linear forwards;
          animation: switchOff 250ms linear forwards;
}

@-webkit-keyframes switchOn {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  40% {
    -webkit-transform: scaleX(1.2) scaleY(0.8);
            transform: scaleX(1.2) scaleY(0.8);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  70% {
    -webkit-transform: scaleX(0.9) scaleY(1.15);
            transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@-moz-keyframes switchOn {
  0% {
    -moz-transform: scaleX(1) scaleY(1);
         transform: scaleX(1) scaleY(1);
    -moz-transform-origin: center;
         transform-origin: center;
  }
  40% {
    -moz-transform: scaleX(1.2) scaleY(0.8);
         transform: scaleX(1.2) scaleY(0.8);
    -moz-transform-origin: center;
         transform-origin: center;
  }
  70% {
    -moz-transform: scaleX(0.9) scaleY(1.15);
         transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -moz-transform: scaleX(1) scaleY(1);
         transform: scaleX(1) scaleY(1);
  }
}

@-o-keyframes switchOn {
  0% {
    -o-transform: scaleX(1) scaleY(1);
       transform: scaleX(1) scaleY(1);
    -o-transform-origin: center;
       transform-origin: center;
  }
  40% {
    -o-transform: scaleX(1.2) scaleY(0.8);
       transform: scaleX(1.2) scaleY(0.8);
    -o-transform-origin: center;
       transform-origin: center;
  }
  70% {
    -o-transform: scaleX(0.9) scaleY(1.15);
       transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -o-transform: scaleX(1) scaleY(1);
       transform: scaleX(1) scaleY(1);
  }
}

@keyframes switchOn {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
       -moz-transform: scaleX(1) scaleY(1);
         -o-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
  }
  40% {
    -webkit-transform: scaleX(1.2) scaleY(0.8);
       -moz-transform: scaleX(1.2) scaleY(0.8);
         -o-transform: scaleX(1.2) scaleY(0.8);
            transform: scaleX(1.2) scaleY(0.8);
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
  }
  70% {
    -webkit-transform: scaleX(0.9) scaleY(1.15);
       -moz-transform: scaleX(0.9) scaleY(1.15);
         -o-transform: scaleX(0.9) scaleY(1.15);
            transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
       -moz-transform: scaleX(1) scaleY(1);
         -o-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes switchOff {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  40% {
    -webkit-transform: scaleX(1.2) scaleY(0.8);
            transform: scaleX(1.2) scaleY(0.8);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  70% {
    -webkit-transform: scaleX(0.9) scaleY(1.15);
            transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@-moz-keyframes switchOff {
  0% {
    -moz-transform: scaleX(1) scaleY(1);
         transform: scaleX(1) scaleY(1);
    -moz-transform-origin: center;
         transform-origin: center;
  }
  40% {
    -moz-transform: scaleX(1.2) scaleY(0.8);
         transform: scaleX(1.2) scaleY(0.8);
    -moz-transform-origin: center;
         transform-origin: center;
  }
  70% {
    -moz-transform: scaleX(0.9) scaleY(1.15);
         transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -moz-transform: scaleX(1) scaleY(1);
         transform: scaleX(1) scaleY(1);
  }
}

@-o-keyframes switchOff {
  0% {
    -o-transform: scaleX(1) scaleY(1);
       transform: scaleX(1) scaleY(1);
    -o-transform-origin: center;
       transform-origin: center;
  }
  40% {
    -o-transform: scaleX(1.2) scaleY(0.8);
       transform: scaleX(1.2) scaleY(0.8);
    -o-transform-origin: center;
       transform-origin: center;
  }
  70% {
    -o-transform: scaleX(0.9) scaleY(1.15);
       transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -o-transform: scaleX(1) scaleY(1);
       transform: scaleX(1) scaleY(1);
  }
}

@keyframes switchOff {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
       -moz-transform: scaleX(1) scaleY(1);
         -o-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
  }
  40% {
    -webkit-transform: scaleX(1.2) scaleY(0.8);
       -moz-transform: scaleX(1.2) scaleY(0.8);
         -o-transform: scaleX(1.2) scaleY(0.8);
            transform: scaleX(1.2) scaleY(0.8);
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
  }
  70% {
    -webkit-transform: scaleX(0.9) scaleY(1.15);
       -moz-transform: scaleX(0.9) scaleY(1.15);
         -o-transform: scaleX(0.9) scaleY(1.15);
            transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
       -moz-transform: scaleX(1) scaleY(1);
         -o-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

.togglerContainer {
  margin: 12px;
  width: 36px;
  height: 36px;
  position: relative;
  display: inline-block;
}

.toggler {
  width: 60px;
  cursor: pointer;
  height: 60px;
  position: relative;
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
       -o-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
      -ms-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
  display: inline-block;
  font-family: sans-serif;
}

.music-score {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #5fd698;
  font-size: 40px;
  position: absolute;
  left: 10px;
  top: 9px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  -webkit-transition: 300ms all cubic-bezier(0.18, -0.55, 0, 1.33);
  -o-transition: 300ms all cubic-bezier(0.18, -0.55, 0, 1.33);
  -moz-transition: 300ms all cubic-bezier(0.18, -0.55, 0, 1.33);
  transition: 300ms all cubic-bezier(0.18, -0.55, 0, 1.33);
  text-shadow: 1px 1px 0px #5fd698;
  text-shadow: 1px 1px 0px #5fd698, 1px 1px 0px #5fd698;
}

.switchContainer.switchOn + .music-score {
  opacity: 1;
  color: #ffffff;
  text-shadow: 1px 1px 0px #ffffff;
  text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff;
}

.music-score-slash {
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 41px;
  background: #d65f5f;
  -webkit-transition: 300ms all cubic-bezier(0.46, 0, 0, 1.35);
  -o-transition: 300ms all cubic-bezier(0.46, 0, 0, 1.35);
  -moz-transition: 300ms all cubic-bezier(0.46, 0, 0, 1.35);
  transition: 300ms all cubic-bezier(0.46, 0, 0, 1.35);
  border: 5px solid white;
  border-top: none;
  border-bottom: none;
  -webkit-transition-delay: 0.13s;
     -moz-transition-delay: 0.13s;
       -o-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transform-origin: top;
     -moz-transform-origin: top;
      -ms-transform-origin: top;
       -o-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(65deg) scale(0.5);
     -moz-transform: rotate(65deg) scale(0.5);
      -ms-transform: rotate(65deg) scale(0.5);
       -o-transform: rotate(65deg) scale(0.5);
          transform: rotate(65deg) scale(0.5);
  height: 75px;
  width: 6px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  pointer-events: none;
}

.switchContainer.switchOn + .music-score + .music-score-slash {
  height: 0;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

@font-face {
  font-family: "CrimsonText";
  src: url("../fonts/CrimsonText-Regular.ttf");
}

@font-face {
  font-family: "CrimsonText";
  src: url("../fonts/CrimsonText-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "CrimsonText";
  src: url("../fonts/CrimsonText-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "FrutigerLTStd";
  src: url("../fonts/FrutigerLTStd-Roman.otf");
}

@font-face {
  font-family: "FrutigerLTStd";
  src: url("../fonts/FrutigerLTStd-Bold.otf");
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  /*
  -webkit-tap-highlight-color:transparent;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  perspective: 1000;
  */
  opacity: 1;
}

.scrollable {
  /*@include scrollbars(.5em, slategray);*/
  overflow: overlay;
}

.scrollable.modern-scrollbar {
  background-color: white !important;
}

.scrollable.modern-scrollbar::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.scrollable.modern-scrollbar::-webkit-scrollbar-thumb {
  background: #ddd;
  border: 6px solid white;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.show-children-slowly > * {
  opacity: 0;
}

.show-children-slowly.active > * {
  opacity: 1;
}

.show-children-slowly.active > *:nth-child(1) {
  -webkit-transition: 0.48s cubic-bezier(0.62, 0.02, 0.34, 1) 0.4s;
  -o-transition: 0.48s cubic-bezier(0.62, 0.02, 0.34, 1) 0.4s;
  -moz-transition: 0.48s cubic-bezier(0.62, 0.02, 0.34, 1) 0.4s;
  transition: 0.48s cubic-bezier(0.62, 0.02, 0.34, 1) 0.4s;
}

.show-children-slowly.active > *:nth-child(2) {
  -webkit-transition: 0.56s cubic-bezier(0.62, 0.02, 0.34, 1) 0.5s;
  -o-transition: 0.56s cubic-bezier(0.62, 0.02, 0.34, 1) 0.5s;
  -moz-transition: 0.56s cubic-bezier(0.62, 0.02, 0.34, 1) 0.5s;
  transition: 0.56s cubic-bezier(0.62, 0.02, 0.34, 1) 0.5s;
}

.show-children-slowly.active > *:nth-child(3) {
  -webkit-transition: 0.64s cubic-bezier(0.62, 0.02, 0.34, 1) 0.6s;
  -o-transition: 0.64s cubic-bezier(0.62, 0.02, 0.34, 1) 0.6s;
  -moz-transition: 0.64s cubic-bezier(0.62, 0.02, 0.34, 1) 0.6s;
  transition: 0.64s cubic-bezier(0.62, 0.02, 0.34, 1) 0.6s;
}

.show-children-slowly.active > *:nth-child(4) {
  -webkit-transition: 0.72s cubic-bezier(0.62, 0.02, 0.34, 1) 0.7s;
  -o-transition: 0.72s cubic-bezier(0.62, 0.02, 0.34, 1) 0.7s;
  -moz-transition: 0.72s cubic-bezier(0.62, 0.02, 0.34, 1) 0.7s;
  transition: 0.72s cubic-bezier(0.62, 0.02, 0.34, 1) 0.7s;
}

.show-children-slowly.active > *:nth-child(5) {
  -webkit-transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1) 0.8s;
  -o-transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1) 0.8s;
  -moz-transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1) 0.8s;
  transition: 0.8s cubic-bezier(0.62, 0.02, 0.34, 1) 0.8s;
}

.show-children-slowly.active > *:nth-child(6) {
  -webkit-transition: 0.88s cubic-bezier(0.62, 0.02, 0.34, 1) 0.9s;
  -o-transition: 0.88s cubic-bezier(0.62, 0.02, 0.34, 1) 0.9s;
  -moz-transition: 0.88s cubic-bezier(0.62, 0.02, 0.34, 1) 0.9s;
  transition: 0.88s cubic-bezier(0.62, 0.02, 0.34, 1) 0.9s;
}

.show-children-slowly.active > *:nth-child(7) {
  -webkit-transition: 0.96s cubic-bezier(0.62, 0.02, 0.34, 1) 1s;
  -o-transition: 0.96s cubic-bezier(0.62, 0.02, 0.34, 1) 1s;
  -moz-transition: 0.96s cubic-bezier(0.62, 0.02, 0.34, 1) 1s;
  transition: 0.96s cubic-bezier(0.62, 0.02, 0.34, 1) 1s;
}

.show-children-slowly.active > *:nth-child(8) {
  -webkit-transition: 1.04s cubic-bezier(0.62, 0.02, 0.34, 1) 1.1s;
  -o-transition: 1.04s cubic-bezier(0.62, 0.02, 0.34, 1) 1.1s;
  -moz-transition: 1.04s cubic-bezier(0.62, 0.02, 0.34, 1) 1.1s;
  transition: 1.04s cubic-bezier(0.62, 0.02, 0.34, 1) 1.1s;
}

.show-children-slowly.active > *:nth-child(9) {
  -webkit-transition: 1.12s cubic-bezier(0.62, 0.02, 0.34, 1) 1.2s;
  -o-transition: 1.12s cubic-bezier(0.62, 0.02, 0.34, 1) 1.2s;
  -moz-transition: 1.12s cubic-bezier(0.62, 0.02, 0.34, 1) 1.2s;
  transition: 1.12s cubic-bezier(0.62, 0.02, 0.34, 1) 1.2s;
}

.show-children-slowly.active > *:nth-child(10) {
  -webkit-transition: 1.2s cubic-bezier(0.62, 0.02, 0.34, 1) 1.3s;
  -o-transition: 1.2s cubic-bezier(0.62, 0.02, 0.34, 1) 1.3s;
  -moz-transition: 1.2s cubic-bezier(0.62, 0.02, 0.34, 1) 1.3s;
  transition: 1.2s cubic-bezier(0.62, 0.02, 0.34, 1) 1.3s;
}

:root {
  -ms-touch-action: none;
      touch-action: none;
  height: 100%;
}

html {
  background: #feddd3;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

landscape-hint {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  height: 100%;
  width: 100%;
  padding: 35vh 20vw;
  background: white;
}

landscape-hint svg {
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

[is-landscape] landscape-hint {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  -webkit-text-size-adjust: none !important;
     -moz-text-size-adjust: none !important;
      -ms-text-size-adjust: none !important;
          text-size-adjust: none !important;
}

body, html {
  -webkit-text-size-adjust: none !important;
     -moz-text-size-adjust: none !important;
      -ms-text-size-adjust: none !important;
          text-size-adjust: none !important;
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
  -ms-touch-action: none;
      touch-action: none;
  height: 100vh;
  width: 100vw;
  width: -webkit-calc(var(--vw, 1vw) * 100) !important;
  width: -moz-calc(var(--vw, 1vw) * 100) !important;
  width: calc(var(--vw, 1vw) * 100) !important;
  height: -webkit-calc(var(--vh, 1vh) * 100) !important;
  height: -moz-calc(var(--vh, 1vh) * 100) !important;
  height: calc(var(--vh, 1vh) * 100) !important;
  margin: 0 !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #43485c;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

#body {
  font-family: 'CrimsonText', 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  width: -webkit-calc(var(--vw, 1vw) * 100);
  width: -moz-calc(var(--vw, 1vw) * 100);
  width: calc(var(--vw, 1vw) * 100);
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: -moz-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  font-size: -webkit-calc(5 * var(--window-width-for-font, 100vw) / 100);
  font-size: -moz-calc(5 * var(--window-width-for-font, 100vw) / 100);
  font-size: calc(5 * var(--window-width-for-font, 100vw) / 100);
}

p {
  white-space: pre;
  margin: 0;
}

.thin-body p {
  margin-bottom: 0.7em;
}

block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#assets {
  display: none;
}

.clippath {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}

[flex-vert-center] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[flex-1] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

[flex-2] {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

[flex-3] {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
     -moz-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

[flex-4] {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
     -moz-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

[flex-5] {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
     -moz-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

[flex-6] {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
     -moz-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

[flex-column] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[width-100p] {
  width: 100%;
}

[left-align] {
  text-align: left;
  margin-right: auto;
}

[right-align] {
  text-align: right;
}

[middle-align] {
  text-align: center;
}

[left-margin-small] {
  margin-left: -webkit-calc(var(--window-width, 100vw) * 5 / 100);
  margin-left: -moz-calc(var(--window-width, 100vw) * 5 / 100);
  margin-left: calc(var(--window-width, 100vw) * 5 / 100);
}

[margin-auto] {
  margin: auto;
}

[bold] {
  font-weight: bold;
}

[italic] {
  font-style: italic;
}

[fix-c] {
  letter-spacing: 0.3px;
}

[card-bg] {
  position: absolute;
  height: 100px;
  width: 100px;
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
       -o-transform-origin: center center;
          transform-origin: center center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(3);
     -moz-transform: translate3d(-50%, -50%, 0) scale(3);
          transform: translate3d(-50%, -50%, 0) scale(3);
  pointer-events: none;
  z-index: -1;
}

[slow-transition] {
  -webkit-transition: -webkit-transform 2.5s cubic-bezier(0.5, 0, 0.5, 1);
  transition: -webkit-transform 2.5s cubic-bezier(0.5, 0, 0.5, 1);
  -o-transition: -o-transform 2.5s cubic-bezier(0.5, 0, 0.5, 1);
  -moz-transition: transform 2.5s cubic-bezier(0.5, 0, 0.5, 1), -moz-transform 2.5s cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 2.5s cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 2.5s cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 2.5s cubic-bezier(0.5, 0, 0.5, 1), -moz-transform 2.5s cubic-bezier(0.5, 0, 0.5, 1), -o-transform 2.5s cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}

[font-large] {
  font-size: 2em;
  line-height: 1.1;
}

[lang="zh"] [font-large] {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  margin-top: 0.4em;
}

#desktop {
  position: absolute;
  left: 0;
  z-index: 99999;
  background: white;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#desktop > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.wrapper > * {
  /*
    flex: 1;
    text-align: center;*/
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.display-none {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.thin-body {
  max-width: 85%;
  height: 100%;
  z-index: 1;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.thin-body p {
  font-size: 1.2em;
  opacity: 0;
  white-space: pre-wrap;
}

@media screen and (max-width: 360px) {
  .thin-body p {
    font-size: 6vw;
  }
}

[lang="en"] .thin-body p {
  font-style: italic;
}

#app {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: -moz-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
}

#mobile {
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

#stages {
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

#loading-wrapper {
  position: absolute;
  background: white;
  z-index: 999;
}

#loading-wrapper > div {
  margin: auto;
}

#loading-wrapper > div > span {
  width: 50px;
}

#float-top-right {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.45s cubic-bezier(0.62, 0.02, 0.34, 1) 0.3s;
  -o-transition: 0.45s cubic-bezier(0.62, 0.02, 0.34, 1) 0.3s;
  -moz-transition: 0.45s cubic-bezier(0.62, 0.02, 0.34, 1) 0.3s;
  transition: 0.45s cubic-bezier(0.62, 0.02, 0.34, 1) 0.3s;
  z-index: 999;
}

[float-higher] #float-top-right {
  -webkit-transform: translateY(-0.3em);
     -moz-transform: translateY(-0.3em);
      -ms-transform: translateY(-0.3em);
       -o-transform: translateY(-0.3em);
          transform: translateY(-0.3em);
}

/*

  Stages

*/
background {
  width: 100%;
  height: 100%;
  position: absolute;
}

bg {
  background-position-x: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#intro #intro-start {
  margin: auto;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#intro-tran #intro-tran-text p {
  opacity: 0;
}

#debug {
  display: block;
  position: absolute;
  z-index: 999999999;
  background: #5554;
}

#lang-switcher > span {
  padding: 0.5em;
}

*:not(input):not(textarea) {
  -webkit-user-select: none;
  /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none;
  /* disable the IOS popup when long-press on a link */
}

.cards {
  text-align: left;
}

arrows {
  height: 40px;
  position: absolute;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  padding-top: 1em;
  bottom: -10px;
  right: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(-7px);
     -moz-transform: translateX(-7px);
      -ms-transform: translateX(-7px);
       -o-transform: translateX(-7px);
          transform: translateX(-7px);
  z-index: 999;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

arrows > * {
  position: relative !important;
  opacity: 1 !important;
  margin-right: -3px;
  -webkit-transform: rotateZ(180deg) !important;
     -moz-transform: rotateZ(180deg) !important;
      -ms-transform: rotate(180deg) !important;
       -o-transform: rotateZ(180deg) !important;
          transform: rotateZ(180deg) !important;
}

card {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100px;
  width: 100px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.8s ease, background 0.5s ease-out, -webkit-filter 0.3s ease-out;
  transition: opacity 0.8s ease, background 0.5s ease-out, -webkit-filter 0.3s ease-out;
  -o-transition: opacity 0.8s ease, filter 0.3s ease-out, background 0.5s ease-out;
  -moz-transition: opacity 0.8s ease, filter 0.3s ease-out, background 0.5s ease-out;
  transition: opacity 0.8s ease, filter 0.3s ease-out, background 0.5s ease-out;
  transition: opacity 0.8s ease, filter 0.3s ease-out, background 0.5s ease-out, -webkit-filter 0.3s ease-out;
  z-index: 3;
  -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
          border-radius: 2em;
}

card:not(.active) {
  display: none;
}

card-text {
  position: relative;
  font-size: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  min-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

card-text p {
  -webkit-transition: opacity 0.8s ease, text-shadow 0.3s ease-out;
  -o-transition: opacity 0.8s ease, text-shadow 0.3s ease-out;
  -moz-transition: opacity 0.8s ease, text-shadow 0.3s ease-out;
  transition: opacity 0.8s ease, text-shadow 0.3s ease-out;
}

.chosen {
  background: #fff3;
}

card.card-sort {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-calc(50% + 3em);
  width: -moz-calc(50% + 3em);
  width: calc(50% + 3em);
  min-width: -webkit-calc(50%);
  min-width: -moz-calc(50%);
  min-width: calc(50%);
  margin: 0.3em;
  float: left;
}

card.card-sort:nth-child(odd) {
  margin-right: -7em;
}

card.card-sort:nth-child(even) {
  margin-top: 4em;
  margin-bottom: 2em;
}

card.card-sort p {
  min-width: 100% !important;
}

card p {
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
  min-width: 8em;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

#sort-container {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  padding: -webkit-calc(20 * var(--window-width-for-font, 100vw) / 100) -webkit-calc(0 * var(--window-width-for-font, 100vw) / 100);
  padding: -moz-calc(20 * var(--window-width-for-font, 100vw) / 100) -moz-calc(0 * var(--window-width-for-font, 100vw) / 100);
  padding: calc(20 * var(--window-width-for-font, 100vw) / 100) calc(0 * var(--window-width-for-font, 100vw) / 100);
  padding-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  transition: all 0.4s ease;
}

#sort-container cards {
  position: relative;
  display: inline;
  overflow: overlay;
  margin: 0em;
  height: -webkit-calc(100% - 0.3em * 2 - 2em);
  height: -moz-calc(100% - 0.3em * 2 - 2em);
  height: calc(100% - 0.3em * 2 - 2em);
  width: -webkit-calc(100% - 0.3em * 2);
  width: -moz-calc(100% - 0.3em * 2);
  width: calc(100% - 0.3em * 2);
  padding-top: 1em;
}

#sort-container cards card {
  padding: 1em;
  background: #ffffff2e;
  -webkit-border-radius: 1em;
     -moz-border-radius: 1em;
          border-radius: 1em;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#sort-container cards card p {
  color: black !important;
  -webkit-filter: none !important;
          filter: none !important;
}

#sort-container cards card.chosen {
  background: #fffb;
}

result-container {
  opacity: 0;
  width: 100%;
  height: 100%;
  padding-top: 2em;
  display: inline-block !important;
  -webkit-transition: opacity 1.5s ease, -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -o-transition: opacity 1.5s ease, -o-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -moz-transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -moz-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -moz-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -o-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
}

result-container.active {
  -webkit-transform: translateY(-webkit-calc(-0.93 * var(--window-width, 100vw)));
     -moz-transform: translateY(-moz-calc(-0.93 * var(--window-width, 100vw)));
      -ms-transform: translateY(calc(-0.93 * var(--window-width, 100vw)));
       -o-transform: translateY(calc(-0.93 * var(--window-width, 100vw)));
          transform: translateY(calc(-0.93 * var(--window-width, 100vw)));
}

result-container.active dounut-container {
  -webkit-transform: translateY(-5em);
     -moz-transform: translateY(-5em);
      -ms-transform: translateY(-5em);
       -o-transform: translateY(-5em);
          transform: translateY(-5em);
}

result-container.active learn-more {
  -webkit-transform: translateY(-2.4em) translateX(-3.2em);
     -moz-transform: translateY(-2.4em) translateX(-3.2em);
      -ms-transform: translateY(-2.4em) translateX(-3.2em);
       -o-transform: translateY(-2.4em) translateX(-3.2em);
          transform: translateY(-2.4em) translateX(-3.2em);
}

result-container.active result-description {
  overflow: overlay;
}

result-container dounut-container {
  margin: auto;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 1.5s ease, -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -o-transition: opacity 1.5s ease, -o-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -moz-transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -moz-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -moz-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -o-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
}

result-container dounut-container svg {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

result-container dounut-container svg:first-child {
  height: 100%;
}

result-container dounut-container img {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
}

result-container result-description {
  height: 100vh;
  -webkit-transition: opacity 1.5s ease, -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -o-transition: opacity 1.5s ease, -o-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -moz-transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -moz-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -moz-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -o-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -webkit-transform: translateY(8em);
     -moz-transform: translateY(8em);
      -ms-transform: translateY(8em);
       -o-transform: translateY(8em);
          transform: translateY(8em);
  opacity: 0;
  display: block;
  height: -webkit-calc(var(--window-height, 100vh) * 93 / 100);
  height: -moz-calc(var(--window-height, 100vh) * 93 / 100);
  height: calc(var(--window-height, 100vh) * 93 / 100);
}

result-container result-description.active {
  -webkit-transform: translateY(0em);
     -moz-transform: translateY(0em);
      -ms-transform: translateY(0em);
       -o-transform: translateY(0em);
          transform: translateY(0em);
  opacity: 1;
}

result-container result-description result-description-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-border-top-left-radius: 1.5em;
     -moz-border-radius-topleft: 1.5em;
          border-top-left-radius: 1.5em;
  -webkit-border-top-right-radius: 1.5em;
     -moz-border-radius-topright: 1.5em;
          border-top-right-radius: 1.5em;
  overflow: hidden;
  height: 5000px;
}

result-container result-description result-description-inner row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 50px;
}

result-container result-description result-description-inner row left {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

result-container result-description result-description-inner row left h1 {
  margin-top: 1em;
  font-size: 1.5em;
}

result-container result-description result-description-inner row right {
  padding: 1em 1em;
  padding-top: 0;
  width: 70%;
  height: 100%;
}

result-container result-description result-description-inner row right h3 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

result-container result-description result-description-inner row right p {
  text-align: left;
  white-space: pre-wrap;
}

learn-more {
  position: absolute;
  display: inline-block !important;
  opacity: 0;
  z-index: 9;
  margin: 0.3em;
  width: auto !important;
  background: #fff5;
  padding: 0.1em 0.4em;
  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;
          border-radius: 0.5em;
  right: 0;
  -webkit-transform: translateY(-2.2em);
     -moz-transform: translateY(-2.2em);
      -ms-transform: translateY(-2.2em);
       -o-transform: translateY(-2.2em);
          transform: translateY(-2.2em);
  font-size: smaller;
  -webkit-transition: opacity 1.5s ease, -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -o-transition: opacity 1.5s ease, -o-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  -moz-transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -moz-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
  transition: opacity 1.5s ease, transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -webkit-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -moz-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1), -o-transform 1s cubic-bezier(0.2, 0.9, 0.25, 1);
}

learn-more.active {
  opacity: 1;
}
