.gp-header {
  font-family: georgia;
  font-size: 40px;
  color: #5fd698;
  font-style: italic;
  text-align: center;
  margin-top: 25px;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

.switchContainer {
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.switchBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0px;
}

.switchBtn {
  background: #ffffff;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.switchContainer.switchOn .switchBtn {
  background: #5fd698;
}

.switchContainer.switchOn .switchBtn,
.switchContainer.switchOn + .music-score {
  -webkit-animation: switchOn 250ms linear forwards;
          animation: switchOn 250ms linear forwards;
}

.switchContainer.switchOff .switchBtn,
.switchContainer.switchOff + .music-score {
  -webkit-animation: switchOff 250ms linear forwards;
          animation: switchOff 250ms linear forwards;
}

@-webkit-keyframes switchOn {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  40% {
    -webkit-transform: scaleX(1.2) scaleY(0.8);
            transform: scaleX(1.2) scaleY(0.8);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  70% {
    -webkit-transform: scaleX(0.9) scaleY(1.15);
            transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@keyframes switchOn {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  40% {
    -webkit-transform: scaleX(1.2) scaleY(0.8);
            transform: scaleX(1.2) scaleY(0.8);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  70% {
    -webkit-transform: scaleX(0.9) scaleY(1.15);
            transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes switchOff {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  40% {
    -webkit-transform: scaleX(1.2) scaleY(0.8);
            transform: scaleX(1.2) scaleY(0.8);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  70% {
    -webkit-transform: scaleX(0.9) scaleY(1.15);
            transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@keyframes switchOff {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  40% {
    -webkit-transform: scaleX(1.2) scaleY(0.8);
            transform: scaleX(1.2) scaleY(0.8);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  70% {
    -webkit-transform: scaleX(0.9) scaleY(1.15);
            transform: scaleX(0.9) scaleY(1.15);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

.togglerContainer {
  margin: 12px;
  width: 36px;
  height: 36px;
  position: relative;
  display: inline-block;
}

.toggler {
  width: 60px;
  cursor: pointer;
  height: 60px;
  position: relative;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  display: inline-block;
  font-family: sans-serif;
}

.music-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5fd698;
  font-size: 40px;
  position: absolute;
  left: 10px;
  top: 9px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  -webkit-transition: 300ms all cubic-bezier(0.18, -0.55, 0, 1.33);
  transition: 300ms all cubic-bezier(0.18, -0.55, 0, 1.33);
  text-shadow: 1px 1px 0px #5fd698;
  text-shadow: 1px 1px 0px #5fd698, 1px 1px 0px #5fd698;
}

.switchContainer.switchOn + .music-score {
  opacity: 1;
  color: #ffffff;
  text-shadow: 1px 1px 0px #ffffff;
  text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff;
}

.music-score-slash {
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 41px;
  background: #d65f5f;
  -webkit-transition: 300ms all cubic-bezier(0.46, 0, 0, 1.35);
  transition: 300ms all cubic-bezier(0.46, 0, 0, 1.35);
  border: 5px solid white;
  border-top: none;
  border-bottom: none;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  background-clip: padding-box;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(65deg) scale(0.5);
          transform: rotate(65deg) scale(0.5);
  height: 75px;
  width: 6px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  pointer-events: none;
}

.switchContainer.switchOn + .music-score + .music-score-slash {
  height: 0;
  -webkit-transition: none;
  transition: none;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
/*# sourceMappingURL=toggler.css.map */